name: Deploy Angular to VPS

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      - name: Build Angular
        run: npm run build -- --configuration production

      - name: Deploy to VPS
        uses: appleboy/scp-action@master
        with:
          host: 217.154.181.8
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "dist/examen-angular/*"
          target: "/var/www/html/examen"